
.footer{
    /* position: absolute; */
    background-color:#223742!important;
    bottom: 0px;
    width: 100%;
    padding: 2%;
}
.footer .row{
    padding: 1%;
}


.footer h7{
    cursor: pointer;
    color: #E8F5E9;
} 

.footer h6{
    color: #E8F5E9;
} 

.footer svg{
    margin-right: 10px;
}

@media screen and (min-width:320px) and (max-width:480px)
{
    .footer  .col-md-3{
        margin-bottom: 20px;
    }
}

/* ipads and tablets */
@media screen and (min-width: 481px) and (max-width:768px)
{
    .signin .container{
        width: 60% !important;
    }
}

/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
    .signin .container{
        width: 60% !important;
    }
    
}