
.footer{
    position: absolute;
    background-color: #0F4229;
    bottom: 0px;
    width: 100%;
    padding: 2%;
}
.footer .row{
    padding: 1%;
}


.footer h7{
    cursor: pointer;
    color: #E8F5E9;
} 

.footer h6{
    color: #E8F5E9;
} 

.footer svg{
    margin-right: 10px;
}