.grievance .container{
    margin-top: 20px;
}

.mygrievances table,th, td{
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 10px;
}

.mygrievances table{
    width: 80%;
}
.mygrievances td,th{
    /* width: 100%; */
    height: 50px;
    padding-left: 20px;
    background-color: #FDFFC2;
}

.mygrievances .container{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registergrievance .container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.registergrievance form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

}

.registergrievance table{
   
    width: 100%;
}

.registergrievance input, textarea{
    height: 50px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #207fb0;
    padding-left: 10px;
    width: 100%;
}

.registergrievance textarea{
    height: 90px;
}
.registergrievance .btn{
    height: 50px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #207fb0;
    padding-left: 10px;
    background-color: white;
    color: gray;
    width: 100%;
}

.registergrievance .registergrievancebtn{
    height: 35px;
    margin-top: 20px;
    background-color: #207fb0;
    color: aliceblue;
    width: 40%;
}