.news .container{
    padding: 2%;
}

.news .newsrow{
    border-radius: 5px;
    box-shadow: 2px 2px #207fb033 !important;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.news .newsrow .col{
    padding: 2%;
}