.grievanceform .container{
    margin: 0% !important;
}
.grievanceform h4{
    text-align: center;
    color: #E8F5E9;
}


.grievanceform .right-form{
    margin-top: 3%;
    /* width: 60%; */
    padding: 3%;
    background-color: #348E38;
}

.grievanceform .form-control{
    margin-top: 20px;
    background-color: #E8F5E9 !important;
    border-color: #348E38;
    
}

.grievanceform .btn_attach{
    margin-top: 20px;
    width: 100%;
    color: #E8F5E9;
    background: #348E38;
    /* border: 10px; */
    border-color: #E8F5E9;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.grievanceform .submitform{
    width: 150px;
    color: #0F4229;
    background: #E8F5E9;
    border: 2px solid;
    border-color: #348E38;
    /* font-size: 18px; */
    margin-top: 10px;
    font-weight: 500;
}

.grievanceform .submitform:hover{
    width: 150px;
    color: #E8F5E9;
    background: #348E38;
    border: 2px solid;
    border-color: #E8F5E9;
    /* font-size: 18px; */
    margin-top: 10px;
    font-weight: 500;
}
